.picker {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 10rem;
  padding: 0px 8px;
  position: relative;
  width: 100%;
}

.hue-container {
  border-radius: 4px;
  height: 1rem;
  margin-top: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.hue-pointer {
  background-color: rgb(248, 248, 248);
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  height: 1.1rem;
  transform: translate(-6px, -1px);
  width: 0.5rem;
}

.saturation-container {
  border-radius: 4px;
  border-radius: 4px;
  height: 9rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.color-toggle {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  display: inline-flex;
  position: absolute;
  justify-content: center;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  overflow: visible;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms,
    -webkit-transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms;
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms,
    -webkit-transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms,
    -webkit-transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms;
  right: 24px;
  border-radius: 50%;
  top: 150px;
}

.color-toggle img {
  transform: scale(1.5);
}
