.App {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.no-hover:hover {
  background-color: initial;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}
